In [2]:


import sqlite3

conn = sqlite3.connect('1example.db')
cursor = conn.cursor()

cursor.execute("""
CREATE TABLE IF NOT EXISTS users(
    id INTEGER PRIMARY KEY,
    name TEXT NOT NULL,
    age INTEGER,
    salary REAL,
    is_activate BOOLEAN,
    bio TEXT,
    join_date DATETIME,
    profile_picture BLOB,
    misc_data NUMERIC,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
)
""")

conn.commit()

In [1]:
import sqlite3

conn = sqlite3.connect('1example.db')
cursor = conn.cursor()

cursor.execute("""
INSERT INTO users (
    name, age, salary, is_activate, bio,
    join_date, profile_picture, misc_data
)
VALUES (?, ?, ?, ?, ?, ?, ?, ?)
""", (
    "Rohit",
    21,
    1450000,
    "Bct012",
    "Computer Engineering",
    "2030-05-14 09:00:00",
    None,
    "123.45"
))

conn.commit()

In [2]:
cursor.execute("SELECT * FROM users")
rows=cursor.fetchall()
for row in rows:
    print(row)

(1, 'Rohit', 21, 55000.5, 1, 'Computer Engineering', '2020-01-24 05:00:00', None, 123.45, '2026-01-28 13:35:32')
(2, 'Rohit', 21, 55000.5, 1, 'Computer Engineering', '2030-05-14 09:00:00', None, 123.45, '2026-01-28 13:37:10')
(3, 'Rohit', 21, 1450000.0, 'Bct012', 'Computer Engineering', '2030-05-14 09:00:00', None, 123.45, '2026-01-28 14:34:26')

In [5]:
from sqlalchemy import create_engine, Column, Integer, String
from sqlalchemy.orm import declarative_base, sessionmaker

# setup connection
engine = create_engine('sqlite:///data1.db')

Base = declarative_base()

# define table
class User(Base):
    __tablename__ = 'users'
    id = Column(Integer, primary_key=True)
    name = Column(String)
    email = Column(String)
    course = Column(String)

# create table
Base.metadata.create_all(engine)

In [6]:
Session = sessionmaker(bind=engine)
session = Session()

users=[
    
    User(name="Rohit", email="adhikarirohit@gmail.com",course="Python"),
     User(name="Ram", email="ram@gmail.com",course="Django"),
     
]
session.add_all(users)

session.commit()

In [7]:
#fetch multiple rows and columns
all_users = session.query(User).all()

for user in all_users:
    print(user.id, user.name,user.email, user.course)

1 Rohit adhikarirohit@gmail.com Python
2 Ram ram@gmail.com Django

In [3]:


from pymongo import MongoClient

client = MongoClient("mongodb://localhost:27017/")
db = client["my_database"]
users = db["users"]

users.insert_one({"name": "Rohit", "age": 20})
print("Connected to MongoDB and data inserted")

Connected to MongoDB and data inserted

In [4]:
from pymongo import MongoClient

# Correct port (default MongoDB port is 27017)
client = MongoClient("mongodb://localhost:27017/")

# Access your database and collection
db = client["my_database"]
users = db["users_collection"]

# Insert a document
users.insert_one({
    "id": 12,
    "name": "Rohit",
    "age": 20,
    "salary": 14500
})

# Verify
for user in users.find():
    print(user)

{'_id': ObjectId('697a1f447267ba9a4b0ea434'), 'id': 12, 'name': 'Rohit', 'age': 20, 'salary': 14500}